{% extends "app/base.html" %}

{% block content %}

<h1>Autor: {{ autor }} </h1>
<p>Životni vijek: {{autor.god_rodjenja}}-{% if autor.god_smrti %}{{autor.god_smrti}}{%else%}danas{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Knjige:</h4>

<dl>
	<ul class="list-group">
{% for knjiga in autor.knjiga_set.all %}
	<li class="list-group-item d-flex justify-content-between align-items-center">
	<a href="{% url 'knjiga-opis' knjiga.pk %}">{{knjiga}}</a>
	<span class="badge badge-primary badge-pill">{{knjiga.knjigaizdanje_set.all.count}}</span>
        
      
{% endfor %}
</ul>

</div>
{% endblock %}