{% extends "app/base.html" %}

{% block content %}
    <h1>Sve knjige za posuditi</h1>

    {% if knjigaizdanje_list %}
    <ul>

      {% for knjigaizdanje in knjigaizdanje_list %} 
      <li class="{% if bookinst.is_vratiti %}text-danger{% endif %}">
        <a>{{knjigaizdanje.knjiga.naziv}}</a> {% if perms.app.obnova %}- <a href="{% url 'posudi' knjigaizdanje.id %}">Posudi</a>{% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Nema neposuđenih.</p>
    {% endif %}       
{% endblock %}