{% extends "app/base.html" %}

{% block content %}
    <h1>Sve neposuđene knjige</h1>

    {% if knjigaizdanje_list %}

    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Izdanje</th>
      <th scope="col"></th>
        </tr>
      </thead>

      {% for knjigaizdanje in knjigaizdanje_list %} 
     
      <tbody>
      
      <td>{{knjigaizdanje.knjiga.naziv}}</td>
      <td>{{knjigaizdanje.izdanje}}</td> 
      <td><a href="{% url 'posudi' knjigaizdanje.id %}">Posudi</a></td> 
      
        
      </tbody>
      {% endfor %}
    </table>

    

    {% else %}
      <p>Nema neposuđenih knjiga.</p>
    {% endif %} 


{% endblock %}





