{% extends "app/base.html" %}
{% block content %}
    {% for post in posts  %}
      {% if post.status == 0 %}
       <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Autor</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{post.naziv}}</th>
                <th>{{post.autor}}</th>
                <th>{{post.status}}</th>
            </tr>
        </tbody>
      </table>
     {% endif %}
    {% endfor %}
{% endblock content %}
