{% extends "app/base.html" %}

{% block content %}
<h1>Početna stranica knjižnice</h1>

<p>Dostupni zapisi:</p>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href ="{% url 'knjige' %}" >Knjige</a>
    <span class="badge badge-primary badge-pill">{{br_knjiga}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a href ="{% url 'autori' %}" >Autori</a>
    <span class="badge badge-primary badge-pill">{{br_autora}}</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-center">
     <a href ="{% url 'zanrovi' %}" >Žanrovi</a>
    <span class="badge badge-primary badge-pill">{{br_zanrova}}</span>
  </li>
</ul>

{%endblock content%}