{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
    <h1>Popis Knjiga</h1>
<div class="input-group mb-3">
<div>
    <form method ="GET">
<button type ="submit" id="mybutton" class = "btn btn-primary">Filtriraj</button>
{{filter.form|crispy}}

</form>
</div>
</div>
    {% if knjiga_list %}
    <table class="table table-bordered">
       <thead class="thead-dark">
        <tr>
      <th scope="col">Naziv</th>
      <th scope="col">Autor</th>
      <th scope="col">Žanr</th>
      <th scope="col">Godina izdanja</th>
      {% if perms.app.obnova %}
      <th scope="col"></th>
      {%endif%}
        </tr>
      
      </thead>

      {% for knjiga in filter.qs %}
      <tbody>
      
      <td><a href="{{ knjiga.get_absolute_url }}">{{knjiga.naziv}}</a></td>
      <td>{{knjiga.autor}}</td> 
      <td>{{ knjiga.zanr.all|join:", " }}</td> 
      <td>{{knjiga.godina_izdanja}}</td> 
      {% if perms.app.obnova %}
      <td><a href="{% url 'knjiga-brisi' knjiga.id %}">Izbriši</a></td> 
      {%endif%}
      </tbody>
      {% endfor %}
    </table>
 

    {% else %}
      <p>Nema knjiga.</p>
    {% endif %}   
    {%endif%}    
{% endblock %}